DirectoryIndex /index.php index.php

Options +FollowSymLinks -MultiViews
Options +Indexes

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteBase /


RewriteRule ^(.*)$ index.php?path=$1 [NC,L,QSA]
