DirectoryIndex index.php

Options +FollowSymLinks
Options +Indexes

# START NEW CONDITIONS
ReWriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d


RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [L,R=301]